* {
    margin: 0;
    box-sizing: border-box;
}

.grade--inputs {
    height: 200px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.grade--inputs > input {
    width: 150px;
}
